{% extends 'base.html.twig' %}
{% import 'macros/flashes.html.twig' as flashes %}


{% block title %}
    SymRecipe - {{ recipe.name }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">{{ recipe.name }}</h1>
        <div class="recipe__images">
            <img style="width:100px; object-fit: contain;" src="{{ vich_uploader_asset(recipe, 'imageFile')   }}" />
        </div>
        {{ flashes.render_flashes() }}
        <p>La moyenne de cette recette est de {{ recipe.average|number_format(2, '.', ',') }} / 5</p>
        {% if recipe.time %}
            <p>Temps (en minutes) : {{ recipe.time }}</p>
        {% else %}
            <p>Temps non renseigné</p>
        {% endif %}

        {% if recipe.nbPeople %}
            <p>Pour : {{ recipe.nbPeople }} personnes</p>
        {% else %}
            <p>Non renseigné</p>
        {% endif %}

        {% if recipe.price %}
            <p>Prix (en €) : {{ recipe.price }}</p>
        {% else %}
            <p>Non renseigné</p>
        {% endif %}

        {% if recipe.difficulty %}
            <p>Difficulté : {{ recipe.difficulty }}/5</p>
        {% else %}
            <p>Difficulté : Non renseignée</p>
        {% endif %}

        <p>Date de création : {{ recipe.createdAt|date("d/m/Y") }}</p>
        <div>
            {{ recipe.description|raw }}
        </div>

        <p>Ingredients</p>
        {% for ingredient in recipe.ingredients %}
            <span class="badge bg-primary">{{ ingredient.name }}</span>
        {% endfor %}

        <div class="mark">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
