{% extends 'base.html.twig' %}
{% import 'macros/flashes.html.twig' as flashes %}

{% block title %}
    SymRecipe - Modification du compte
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Modifier mes informations</h1>
        {{ flashes.render_flashes() }}

        {{ form_start(form) }}

        {{ form_row(form.full_name) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.plainPassword) }}
        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}