{% extends 'base.html.twig' %}
{% import 'macros/flashes.html.twig' as flashes %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Connexion</h1>
        {{ flashes.render_flashes() }}

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('security.login') }}" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email :</label>
                <input type="email" id="email" name="_username" class="form-control" value="{{ last_username }}" placeholder="exemple@symrecipe.fr">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe :</label>
                <input type="password" id="password" name="_password" class="form-control" placeholder="*******">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>
{% endblock %}